<h2>Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col" sortable="city" (sort)="onSort($event)">City</th>
            <th scope="col" sortable="state" (sort)="onSort($event)">State</th>
            <th scope="col" sortable="personId" (sort)="onSort($event)">Person ID</th>
            <th scope="col" sortable="personOrg" (sort)="onSort($event)">Person Org</th>
        </tr>
    </thead>
    <tbody>
        @for (user of (sortedUsers|async); track user.key) {
        <tr>
            <th scope="row">{{user.key}}</th>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{user.personId}}</td>
            <td>{{user.personOrg}}</td>
        </tr>
        }
</table>